@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();

  display: grid;
  grid:
    "header" auto
    "viewport" 1fr
    "actions" auto
    / 1fr;
}

.header {
  grid-area: header;

  @include flexbox();
  @include divider();
}

.viewport {
  grid-area: viewport;
}

.actions {
  grid-area: actions;

  @include flexbox();
  @include divider-top();

  gap: $gap;
}
