@use "sass:color";
@use "index" as *;

.container {
  @include flexbox(column, stretch, stretch);
  gap: $gap;
}

.stats {
  @include overflow($max-height: $size-character-stats-height);
  @include scrollbar($size: 0.75rem);
}

@media (max-height: $bp-xl-height) {
  .stats {
    @include overflow($max-height: $size-character-stats-height-responsive);
  }
}
