@use "sass:color";
@use "index" as *;

.container {
  @include flexbox(column, stretch, stretch);

  gap: $gap;
}

.stats {
  @include overflow($max-height: 60vh);
  @include scrollbar($size: 0.75rem);
}
