@use "sass:color";
@use "index" as *;

.enchanting-area {
  display: grid;
  grid:
    "item-display item-slots"
    "gear-actions gear-actions"
    "separator separator"
    / auto 1fr;

  gap: $gap;
}

.item-preview-area {
  display: grid;
  grid:
    "item-display"
    "gear-actions"
    "separator"
    / 1fr;

  gap: $gap;

  > .item-display {
    // Centered horizontally
    margin: 0 auto;
  }
}

.item-display {
  grid-area: item-display;
}

.item-slots {
  grid-area: item-slots;
}

.gear-actions {
  grid-area: gear-actions;
}

.button-cancel {
  color: $clr-text-primary;
}

.separator {
  grid-area: separator;
}
