@use "sass:color";
@use "index" as *;

.sheet {
  @include flexbox();
}

/* === Portrait Section === */
.sheet__portrait {
  @include flexbox();

  height: 10em;
  width: 9em;

  border: 3px solid $clr-border;
  border-radius: $border-radius;
}

/* === Info Section === */
.sheet__info {
  padding: 0 $gap;
  flex: 1;
}

/* === Stats Section === */
.stats {
  padding: 0 $gap;
}
