@use "sass:color";
@use "index" as *;

.inventory-items {
  // height: 485px;
}

.subheader {
  grid-area: header;
  @include flexbox($justify: space-between);
  margin-bottom: $gap;
}

.gear-slots {
  width: 340px;

  // Centered horizontally
  margin: 0 auto;
}

.enchanting-area {
  display: grid;
  grid:
    "header header"
    "item-display item-slots"
    "gear-actions gear-actions"
    "separator separator"
    / auto 1fr;

  gap: $gap;
}

.item-preview-area {
  display: grid;
  grid:
    "header"
    "item-display"
    "gear-actions"
    "separator"
    / 1fr;

  gap: $gap;

  > .item-display {
    // Centered horizontally
    margin: 0 auto;
  }
}

.item-display {
  grid-area: item-display;
}

.item-slots {
  grid-area: item-slots;
}

.gear-actions {
  grid-area: gear-actions;
}

.button-cancel {
  color: $clr-text-primary;
}

.separator {
  grid-area: separator;
}
