@use "sass:color";
@use "index" as *;

.skill {
  display: grid;
  grid-template-columns: 1fr auto;

  gap: $gap;
  padding: calc($gap / 2) $gap;
  align-items: center;

  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;

  &.unlockable {
    border-style: dashed;
    border-color: $clr-gray;
  }

  &.unlocked {
    border-style: solid;
    border-color: $clr-border;
  }

  &.locked {
    opacity: 0.5;
  }

  &.maxed {
    border-color: $clr-highlight;
  }
}

.skill-title,
.skill-description,
.skill-dependencies,
.skill-effect,
.next-level-effect {
  @include disable-text-selection();
}

.skill-title {
  display: flex;
  align-items: baseline;
  gap: calc($gap / 2);
  font-size: 1.1rem;

  .skill-title__name {
    font-family: $font-family-header;
    color: $clr-highlight;
  }

  .skill-title__level {
    font-family: $font-family-header;
    color: $clr-highlight;
  }
}

.skill-description {
  font-family: $font-family-header;
  font-size: 1rem;
}

.skill-effect {
  display: flex;
  gap: calc($gap / 2);
  font-size: 1rem;

  .skill-effect__icon {
    display: flex;
    align-self: center;
  }

  .skill-effect-label {
    display: flex;
    flex-wrap: wrap;
    gap: calc($gap / 2);

    font-weight: bold;
    text-align: center;
    align-self: center;

    .next-level-effect {
      font-weight: normal;
      color: $clr-mute;
    }
  }
}

.skill-actions {
  display: flex;
  gap: $gap;
  align-items: center;
}
