<div class="container">
  <div class="tiers">
    @for (tier of SkillTreeState(); track $index) {
      <app-skill-tier-area
        [tier]="tier"
        [isUnlocked]="tier.IsUnlocked"
        [canUnlock]="tier.CanUnlock"
        (unlockTier)="UnlockTier($event)">
        <div class="skills">
          @for (skill of tier.Skills; track skill.Definition.Id) {
            <app-skill-area
              [skill]="skill"
              [unlockable]="tier.IsUnlocked"
              [canUnlock]="skill.CanUnlock"
              [canLevel]="skill.CanUpgrade"
              (unlockSkill)="UnlockSkill($event)"
              (upgradeSkill)="UpgradeSkill($event)"></app-skill-area>
          }
        </div>
      </app-skill-tier-area>
      @if (!$last) {
        <separator class="ih-separator"></separator>
      }
    }
  </div>
</div>
