@use "sass:color";
@use "index" as *;

.container {
  display: grid;
  gap: $gap;
}

.tiers {
  display: grid;
  gap: $gap;
}

@media (max-height: $bp-xl-height) {
  .container {
    @include overflow($display: grid, $max-height: $size-skills-height);
    @include scrollbar($size: 0.75rem);
  }

  .tiers {
    margin-right: $gap;
  }
}

.skills {
  display: grid;
  gap: $gap;
}
