@use "sass:color";
@use "index" as *;

.container {
  @include overflow($display: grid, $max-height: $size-skills-height);
  @include scrollbar($size: 0.75rem);
  display: grid;
  gap: $gap;
}

.tiers {
  display: grid;
  gap: $gap;
  margin-right: $gap;
}

@media (max-height: $bp-xl-height) {
  .container {
    @include overflow($display: grid, $max-height: $size-skills-height-responsive);
  }
}

.skills {
  display: grid;
  gap: $gap;
}
