@use "sass:color";
@use "index" as *;

.loadout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

.gear-slots {
  display: grid;

  grid:
    "weapon head amulet"
    "weapon chest amulet"
    "weapon legs offhand"
    "weapon feet offhand"
    / auto auto auto;

  gap: $gap;
  align-items: end;
}

$slot-height: 110px;
$slot-width: 110px;
$slot-height-large: calc(($slot-height * 2) + $gap);
$slot-width-large: calc($slot-width * 1.5);

.gear-slot {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include flexbox($dir: column, $align: center, $justify: center);
  @include panel($bg: $clr-ui-bg);
  @include box-shadow();

  height: $slot-height;
  width: $slot-width;

  position: relative;

  .item-tier-info {
    position: absolute;
    top: calc($gap / 2);
    left: calc($gap / 2);

    .item-tier {
      font-weight: bold;
      font-family: $font-family-title;
      color: color.scale($clr-accent, $lightness: 15%);
    }
  }
}

.gear-slot-large {
  height: $slot-height-large;
}

.gear-slot-wide {
  width: $slot-width-large;
}

.gear-slot__icon {
  flex: 1;
}

.weapon {
  grid-area: weapon;
}
.offhand {
  grid-area: offhand;
}
.head {
  grid-area: head;
}
.chest {
  grid-area: chest;
}
.legs {
  grid-area: legs;
}
.feet {
  grid-area: feet;
}
.amulet {
  grid-area: amulet;
  align-self: center;
}

.empty {
  border: 2px solid $clr-gray;
  opacity: 0.5;
}

.equipped {
  border-width: 3px;
}

.selected {
  // border: 3px solid $clr-border;
  border-width: 4px;
  background: $grad-ui-bg-lighten;
}
