@use "sass:color";
@use "index" as *;

.container {
  display: grid;
  grid:
    "stage boss-health boss-health boss-health" auto
    "battlelog battlelog boss buffs" 2fr
    "battlelog battlelog player buffs" 1fr
    "exp exp exp exp" auto
    / auto auto 1fr auto;

  gap: $gap;

  height: 100%;
}

.stage {
  grid-area: stage;
  min-height: 110px;
  min-width: 110px;
}

.boss-health {
  grid-area: boss-health;
  min-height: 110px;
  align-content: center;
}

.boss {
  grid-area: boss;

  @include flexbox();
}

.player {
  grid-area: player;

  @include flexbox($align: flex-end);
}

.icon {
  @include disable-text-selection();
  font-size: 6rem;

  &:hover {
    cursor: pointer;
    margin-bottom: 1rem;
    transform: scale(1.2);
    transition:
      transform 0.2s,
      margin-bottom 0.2s;
  }
}

.battle-log {
  grid-area: battlelog;
  align-content: end;
  height: 63vh;
  width: 250px;
}

.buffs {
  grid-area: buffs;
}

.experience-bar {
  grid-area: exp;
}
