<div class="container">
  <!-- Stage -->
  <div class="stage">
    <app-stage-label
      [stageNumber]="showStage ? stageService.CurrentStage() : null"></app-stage-label>
  </div>

  <!-- Boss Health Bar -->
  <div class="boss-health">
    @if (showBoss) {
      <app-health-bar
        [currentHealth]="bossService.CurrentHealth()"
        [maxHealth]="bossService.MaxHealth()"
        [showHealthValues]="true">
      </app-health-bar>
    }
  </div>

  <!-- Boss -->
  <div class="boss">
    @if (showBoss) {
      <span class="icon">🐉</span>
    }
  </div>

  <!-- Buffs -->
  <div class="buffs"></div>

  <!-- Battle Log -->
  <div #battleLogContainer class="battle-log" [class.battle-log--scroll]="showLog">
    <app-battle-log></app-battle-log>
  </div>

  <!-- Player -->
  <div class="player">
    <span class="icon">🧙‍♂️</span>
  </div>

  <!-- Experience Bar -->
  <div class="experience-bar">
    @if (showExpBar) {
      <app-experience-bar
        [currentLevel]="levelService.Current"
        [currentExp]="levelService.Experience"
        [expToNextLevel]="levelService.ExperienceToNextLevel"></app-experience-bar>
    }
  </div>
</div>
