@use "sass:color";
@use "index" as *;

.container {
  @include flexbox(column, flex-start, stretch);
  gap: $gap;

  animation: scrolling forwards;
  animation-timeline: scroll(y);
}

@keyframes scrolling {
  0%,
  to {
    /* the CSS applied to .container when it has overflow */
    padding-right: calc($gap / 2);
  }
}

.is-scrolling {
  margin-right: calc($gap / 2);
}

.category {
  @include panel($bg: $grad-accent-darken, $padding: 0 calc($gap / 2));
  @include panel-shadow($border-width: 0px);
}

$grid-header-padding: calc($gap / 2);

.grid-header {
  @include disable-text-selection();
  @include flexbox($dir: row, $align: stretch, $justify: space-between);
  padding: $grid-header-padding;
  align-items: center;

  .grid-header__toggle {
    border: 2px solid $clr-border;
    border-radius: 50%;
    padding: calc($gap / 4);
  }
}

.grid-header--expanded {
  @include divider($margin: 0, $padding: $grid-header-padding);
}

.grid {
  @include disable-text-selection();
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc($gap / 2);
  padding: calc($gap / 2) calc($gap / 2);

  align-items: center;

  .grid__label {
    text-align: left;
    font-weight: bold;
  }

  .grid__value {
    @include flexbox($align: top, $justify: flex-end);
    text-align: center;
  }

  .grid__label,
  .grid__value {
    font-size: 1.05rem;
    color: $clr-text-primary;
  }
}

.respec {
  @include flexbox($dir: row, $align: center, $justify: flex-start);
  gap: $gap;
  min-width: 250px;

  .button-respec {
    width: 150px;
  }

  .skill-points {
    font-family: $font-family-header;
    font-size: 1.4rem;
    font-weight: bold;
    color: $clr-highlight;

    text-shadow:
      -1px -1px 0 $clr-text-shadow,
      1px -1px 0 $clr-text-shadow,
      -1px 1px 0 $clr-text-shadow,
      1px 1px 0 $clr-text-shadow;

    .skill-points__icon {
      vertical-align: top;
      margin: 0 0.25rem;
    }
  }
}

.attribute-value {
  width: 5rem;
}

.attribute-modifier-button {
  @include button-style($bg-color: $clr-ui-bg);
  @include button-text-font();
  @include button-sizing($min-width: 0, $padding: 0);
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg, $lightness: -30%),
    $bg-color-active: color.scale($clr-ui-bg, $lightness: -50%)
  );
  @include button-focus-visible-outline();

  height: 2rem;
  width: 2rem;
}
