<div class="container">
  <!-- ATTRIBUTES -->
  <div class="category">
    <div class="grid-header" [class.grid-header--expanded]="AttributesExpanded()">
      <h3>ATTRIBUTES</h3>
      @if (ShowAttributePoints()) {
        <div class="skill-points">
          {{ AttributePoints() }}
          <app-icon class="skill-points__icon" symbol="orb" size="sm"></app-icon>
        </div>
      }
      <button
        class="ih-button-icon grid-header__toggle"
        (click)="AttributesExpanded.set(!AttributesExpanded())">
        <i
          class="bi toggle-icon"
          [class.bi-caret-up-fill]="AttributesExpanded()"
          [class.bi-caret-down-fill]="!AttributesExpanded()"></i>
      </button>
    </div>
    @if (AttributesExpanded()) {
      <div class="grid">
        @for (attribute of Attributes(); track attribute.label) {
          <div class="grid__label">{{ attribute.label }}</div>
          <div class="grid__value">
            <button
              class="attribute-modifier-button"
              (click)="decreaseAttribute(attribute.label)"
              [disabled]="!CanDecreaseAttribute(attribute.label)">
              -
            </button>
            <div class="attribute-value">{{ attribute.value }}</div>
            <button
              class="attribute-modifier-button"
              (click)="increaseAttribute(attribute.label)"
              [disabled]="!CanIncreaseAttributes()">
              +
            </button>
          </div>
        }
      </div>
    }
  </div>

  @for (statGrid of AllStats(); track statGrid.title) {
    <div class="category">
      <div class="grid-header" [class.grid-header--expanded]="statGrid.expanded">
        <h3>{{ statGrid.title }}</h3>
        <button
          class="ih-button-icon grid-header__toggle"
          (click)="statGrid.expanded = !statGrid.expanded">
          <i
            class="bi toggle-icon"
            [class.bi-caret-up-fill]="statGrid.expanded"
            [class.bi-caret-down-fill]="!statGrid.expanded"></i>
        </button>
      </div>
      @if (statGrid.expanded) {
        <div class="grid">
          @for (stat of statGrid.items; track stat.label) {
            <div class="grid__label">{{ stat.label }}</div>
            <div class="grid__value">{{ stat.value }}</div>
          }
        </div>
      }
    </div>
  }
</div>
