<div class="container">
  <!-- ATTRIBUTES -->
  <div class="category">
    <div class="grid-header" [class.grid-header--expanded]="statsState.AttributesExpanded()">
      <h3>ATTRIBUTES</h3>
      <div class="respec">
        <button class="ih-button-quaternary" (click)="ToggleRespecMode()">
          @if (IsRespecMode()) {
            CONFIRM
          } @else {
            RESPEC
          }
        </button>
        @if (IsRespecMode()) {
          <app-gold [amount]="RespecCost()"></app-gold>
        }
        @if (ShowAttributePoints() && !IsRespecMode()) {
          <div class="skill-points">
            {{ AttributePoints() }}
            <app-icon class="skill-points__icon" symbol="orb" size="sm"></app-icon>
          </div>
        }
      </div>
      <button class="ih-button-icon grid-header__toggle" (click)="ToggleAttributesExpanded()">
        <app-toggle-icon
          [direction]="statsState.AttributesExpanded() ? 'up' : 'down'"></app-toggle-icon>
      </button>
    </div>
    @if (statsState.AttributesExpanded()) {
      <div class="grid">
        @for (attribute of Attributes(); track attribute.label) {
          <div class="grid__label">{{ attribute.label }}</div>
          <div class="grid__value">
            <button
              class="attribute-modifier-button"
              (click)="decreaseAttribute(attribute.label)"
              [disabled]="!CanDecreaseAttribute(attribute.label)">
              -
            </button>
            <div class="attribute-value">{{ attribute.value }}</div>
            <button
              class="attribute-modifier-button"
              (click)="increaseAttribute(attribute.label)"
              [disabled]="!CanIncreaseAttributes()">
              +
            </button>
          </div>
        }
      </div>
    }
  </div>

  @for (statGrid of AllStats(); track statGrid.title) {
    <div class="category">
      <div class="grid-header" [class.grid-header--expanded]="statGrid.expanded">
        <h3>{{ statGrid.title }}</h3>
        <button
          class="ih-button-icon grid-header__toggle"
          (click)="statGrid.expanded = !statGrid.expanded">
          <app-toggle-icon [direction]="statGrid.expanded ? 'up' : 'down'"></app-toggle-icon>
        </button>
      </div>
      @if (statGrid.expanded) {
        <div class="grid">
          @for (stat of statGrid.items; track stat.label) {
            <div class="grid__label">{{ stat.label }}</div>
            <div class="grid__value">{{ stat.value }}</div>
          }
        </div>
      }
    </div>
  }
</div>
