@use "sass:color";
@use "index" as *;

.item-slots {
  grid-area: item-slots;

  @include flexbox($dir: column, $align: center, $justify: center);

  gap: $gap;
  height: 100%;
}

.slot-row {
  @include flexbox($dir: row, $align: center, $justify: center);
  width: 100%;
  gap: $gap;
}

.button-empty-slot,
.enchanted-slot,
.button-upgrading,
.button-rerolling {
  @include button-text-font();
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg, $lightness: 10%),
    $bg-color-active: color.scale($clr-ui-bg, $lightness: 10%)
  );

  @include panel($bg: $clr-ui-bg);
  @include box-shadow();

  height: 70px;
  width: 425px;
}

.button-empty-slot {
  @include button-focus-visible-outline();

  border-width: 1px;
  border-style: dashed;

  > h2 {
    font-weight: normal;
  }
}

.enchanted-slot {
  text-align: center;

  border-width: 4px;
  border-style: solid;
}

.enchanted-slot-description {
  @include flexbox();
  height: 100%;

  > h2 {
    font-weight: bold;
  }
}

.button-upgrade {
  color: $clr-highlight;
}

.button-reroll {
  color: $clr-common;
}

.button-cancel {
  color: $clr-accent;
}
