<div class="item-slots">
  @for (slot of Item.Slots; track $index) {
    @if (ShowEnchantSlot($index)) {
      <div class="slot-row">
        <!-- REROLL BUTTON -->
        @if (ShowRerollAction(slot)) {
          @if (SlotStates.get($index) === "Rerolling") {
            <button
              class="ih-button-icon button-cancel"
              (click)="CancelReroll($event, $index)"
              title="Cancel Reroll">
              <app-icon ui="rotation" size="md"></app-icon>
            </button>
          } @else {
            <button
              class="ih-button-icon button-reroll"
              (click)="StartReroll($event, $index)"
              title="Reroll">
              <app-icon ui="cycle" size="md"></app-icon>
            </button>
          }
        }

        <!-- ENCHANTMENT SLOT BUTTON -->
        @switch (SlotStates.get($index)) {
          @case ("Empty") {
            <button
              class="button-empty-slot"
              (click)="Enchant($event, $index)"
              [disabled]="!CanEnchant(slot)">
              <h2>Enchant Item Slot #{{ slot.Id }}</h2>
              <app-gold [amount]="SlotCost"></app-gold>
            </button>
          }
          @case ("Enchanted") {
            <div
              class="enchanted-slot"
              [class.common--border]="slot.Level === 1"
              [class.magic--border]="slot.Level === 2"
              [class.rare--border]="slot.Level === 3"
              [class.epic--border]="slot.Level === 4"
              [class.legendary--border]="slot.Level === 5">
              <div class="enchanted-slot-description">
                <h2>{{ GetEnchantmentDescription(slot) }}</h2>
              </div>
            </div>
          }
          @case ("Upgrading") {
            <button
              class="button-upgrading"
              (click)="Upgrade($event, $index)"
              [disabled]="!CanUpgrade(slot)">
              <h2>Upgrade {{ GetEnchantmentDescription(slot) }}</h2>
              <app-gold [amount]="UpgradeCost(slot)"></app-gold>
            </button>
          }
          @case ("Rerolling") {
            <button class="button-rerolling" (click)="Reroll($index)" [disabled]="!CanReroll()">
              <h2>Reroll {{ GetEnchantmentDescription(slot) }}</h2>
              <app-gold [amount]="RerollCost"></app-gold>
            </button>
          }
        }

        <!-- UPGRADE BUTTON -->
        @if (ShowUpgradeAction(slot)) {
          @if (SlotStates.get($index) === "Upgrading") {
            <button
              class="ih-button-icon button-cancel"
              (click)="CancelUpgrade($event, $index)"
              title="Cancel Upgrade">
              <app-icon ui="rotation" size="md"></app-icon>
            </button>
          } @else {
            <button
              class="ih-button-icon button-upgrade"
              (click)="StartUpgrade($event, $index)"
              [disabled]="!CanStartUpgrade(slot)"
              title="Upgrade">
              <app-icon symbol="growth" size="md"></app-icon>
            </button>
          }
        }
      </div>
    }
  }
</div>
