<div class="log-list">
  @for (entry of VisibleEntries(); track entry) {
    <!-- SEPARATOR -->
    <separator class="ih-separator" [margin]="false"></separator>
    @if (entry.Type == "Rewards") {
      <separator class="ih-separator" [margin]="false"></separator>
    }

    <!-- LOG ENTRY -->
    <div class="log-entry">
      <!-- TIMESTAMP -->
      <span class="log-time">{{ FormatTimestamp(entry.TimestampMs) }}</span>

      @switch (entry.Type) {
        <!-- INFO -->
        @case ("Info") {
          <span class="log-info">{{ entry.Message }}</span>
        }
        <!-- REWARDS -->
        @case ("Rewards") {
          <app-icon class="log-rewards" symbol="lockedchest" size="md"></app-icon>
          <div class="log-rewards-entry">
            <div class="log-rewards-header">
              <span>Completed Stage {{ entry.Stage }}</span>
            </div>
            <div class="log-rewards-values">
              <span class="log-rewards-gold">
                +{{ entry.Rewards.Gold | number: "1.0-0" }}
                <app-icon symbol="twocoins" size="sm"></app-icon>
              </span>
              <span class="dot">•</span>
              <span class="log-rewards-xp">
                +{{ entry.Rewards.Experience | number: "1.0-0" }}
                <app-icon symbol="starsstack" size="sm"></app-icon>
              </span>
              @if (entry.Rewards.Rune) {
                <span class="dot">•</span>
                <span
                  class="log-rewards-rune"
                  [class.common--font]="entry.Rewards.Rune.Quality === 'Common'"
                  [class.magic--font]="entry.Rewards.Rune.Quality === 'Magic'"
                  [class.rare--font]="entry.Rewards.Rune.Quality === 'Rare'"
                  [class.epic--font]="entry.Rewards.Rune.Quality === 'Epic'"
                  [class.legendary--font]="entry.Rewards.Rune.Quality === 'Legendary'">
                  <app-icon symbol="runestone" size="sm"></app-icon>
                  {{ entry.Rewards.Rune.DefinitionId }}
                  <span class="log-rewards-rune-value">
                    [{{ entry.Rewards.Rune.ValueRangePercentage | percent: "1.0-0" }}]
                  </span>
                </span>
              }
            </div>
          </div>
        }
        <!-- DAMAGE -->
        @case ("Damage") {
          @let damageLogEntry = DamageLogEntryExtended(entry);

          <div class="log-damage-entry">
            <div class="log-damage-header">
              <app-combat-actor-icon
                [Actor]="entry.Actor"
                [class]="damageLogEntry.ActorClass"
                Size="md"></app-combat-actor-icon>

              <span>{{ damageLogEntry.ActionContent }}</span>
              <!-- <app-icon combat="bleedingwound" size="sm" class="log-bleed"></app-icon> -->

              <app-combat-actor-icon
                [Actor]="entry.Target"
                Size="md"
                class="log-damage"></app-combat-actor-icon>

              <span class="dot">•</span>

              <span class="log-damage total-damage" [class]="damageLogEntry.ActorClass">
                {{ damageLogEntry.TotalDamage | number: "1.0-0" }}
              </span>
            </div>

            <div class="log-damage-details">
              @if (damageLogEntry.DamageDetails.length > 0) {
                <span class="log-damage" [class]="damageLogEntry.ActorClass">
                  {{ damageLogEntry.DamageDetails }}
                </span>
                @if (damageLogEntry.AdditionalDetails.length > 0) {
                  <span class="dot">•</span>
                }
              }
              @if (damageLogEntry.AdditionalDetails.length > 0) {
                @for (detail of damageLogEntry.AdditionalDetails; track $index) {
                  <span class="log-damage" [class]="detail.class">
                    {{ detail.value }}
                    @if ($index < damageLogEntry.AdditionalDetails.length - 1) {
                      <span class="dot">•</span>
                    }
                  </span>
                }
              }
            </div>

            @if (entry.IsMultiHit) {
              <div class="log-damage-values">
                [
                @for (tag of entry.Damage; track $index) {
                  <span
                    class="log-damage"
                    [class.log-multi]="!tag.IsCritical && !tag.IsBleeding"
                    [class.log-critical]="tag.IsCritical"
                    [class.log-bleed]="tag.IsBleeding">
                    {{ tag.Amount | number: "1.0-0" }}
                    @if ($index < entry.Damage.length - 1) {
                      <span class="dot">•</span>
                    }
                  </span>
                }
                ]
              </div>
            }
          </div>
        }
        <!-- MISS -->
        @case ("Miss") {
          <app-combat-actor-icon
            [Actor]="entry.Actor"
            Size="md"
            class="log-miss"></app-combat-actor-icon>
          <span class="log-miss">MISS</span>
        }
        <!-- HEAL -->
        @case ("Heal") {
          <app-icon combat="heartplus" size="sm" class="log-heal"></app-icon>
          <app-combat-actor-icon
            [Actor]="entry.Target"
            Size="md"
            class="log-heal"></app-combat-actor-icon>
          <span class="log-heal">+{{ entry.Amount | number: "1.0-0" }} LIFE</span>
        }
        <!-- DEATH -->
        @case ("Death") {
          <app-icon combat="hastygrave" size="sm" class="log-death"></app-icon>
          <app-combat-actor-icon
            [Actor]="entry.Actor"
            Size="md"
            class="log-death"></app-combat-actor-icon>
        }
      }
    </div>
  }
</div>
