<div
  class="amulet"
  [class.locked]="IsLocked()"
  [class.common--border]="Quality() === 'Common'"
  [class.magic--border]="Quality() === 'Magic'"
  [class.rare--border]="Quality() === 'Rare'"
  [class.epic--border]="Quality() === 'Epic'"
  [class.legendary--border]="Quality() === 'Legendary'">
  <!-- HEADER -->
  <div class="amulet-header">
    @if (IsLocked()) {
      <h3>AMULET</h3>
    } @else {
      <h3>{{ Quality().toUpperCase() }} AMULET</h3>
    }
    <separator class="ih-separator"></separator>
  </div>

  <!-- AMULET ICON -->
  <div class="amulet-icon">
    <app-icon gear="gempendant" size="4x"></app-icon>
    <separator class="ih-separator"></separator>
  </div>

  <!-- AMULET SLOTS -->
  @if (!IsLocked()) {
    <div class="amulet-slots">
      @for (slot of Slots(); track $index) {
        @if (SelectedIndex() === $index) {
          <button
            class="ih-button-icon amulet-slot unsocketing"
            [disabled]="!CanUnsocketRune()"
            (click)="UnsocketSelectedRune()"
            (mouseenter)="SetHoveredIndex($index)"
            (mouseleave)="SetHoveredIndex(null)">
            <app-icon ui="lobarrow" size="lg"></app-icon>
          </button>
        } @else {
          <div
            class="amulet-slot"
            [class.empty]="SlotIsEmpty($index)"
            [class.common--border]="slot?.Quality === 'Common'"
            [class.magic--border]="slot?.Quality === 'Magic'"
            [class.rare--border]="slot?.Quality === 'Rare'"
            [class.epic--border]="slot?.Quality === 'Epic'"
            [class.legendary--border]="slot?.Quality === 'Legendary'"
            (click)="SelectSlot($index)"
            (mouseenter)="SetHoveredIndex($index)"
            (mouseleave)="SetHoveredIndex(null)">
            @if (!SlotIsEmpty($index)) {
              <app-icon symbol="runestone" size="lg"></app-icon>
            }
          </div>
        }
      }
    </div>
  }

  <div class="rune-effects">
    @for (effect of Effects(); track effect.SlotIndex) {
      <div class="rune-effect" [class.highlighted]="HoveredIndex() === effect.SlotIndex">
        <span
          class="icon"
          [class.common--font]="effect.Info.Quality === 'Common'"
          [class.magic--font]="effect.Info.Quality === 'Magic'"
          [class.rare--font]="effect.Info.Quality === 'Rare'"
          [class.epic--font]="effect.Info.Quality === 'Epic'"
          [class.legendary--font]="effect.Info.Quality === 'Legendary'">
          <app-icon symbol="polarstar" size="mini"></app-icon>
        </span>
        <span class="label">
          {{ effect.Info.Label }}
          <span class="min-max-roll">[{{ effect.Info.MinRoll }} - {{ effect.Info.MaxRoll }}]</span>
        </span>
      </div>
    }
  </div>
</div>
