@use "sass:color";
@use "index" as *;

/* Header */
.header {
  display: grid;
  grid:
    "name level" auto
    "class class" auto
    / 1fr auto;

  @include disable-text-selection();
  margin-bottom: $gap;
}

.header__name,
.header__level {
  @include divider($clr-ui-bg-invert, $margin: 0 0 0.5rem 0, $padding: 0);
}

.header__name {
  grid-area: name;

  color: $clr-highlight;
  font-family: $font-family-title;
  font-size: $font-size-info-header;
}

.header__level {
  grid-area: level;
  @include flexbox(row, center, center);
}

.level__label {
  margin-right: 0.5rem;

  font-family: $font-family-header;
  color: $clr-text-primary;
}

.level__value {
  min-width: 1.75rem;
  text-align: right;
  padding-bottom: 0.25rem;

  color: $clr-highlight;
}

.level__label,
.level__value {
  font-size: 1.25rem;
  font-weight: bold;
}

.header__class {
  grid-area: class;
  @include flexbox(row, center, center);

  font-family: $font-family-header;
  font-style: italic;
  font-size: 1.1rem;

  margin-bottom: $gap;
}

/* Summary */
$padding-attributes-summary: $gap 0;

.summary {
  @include divider($clr-ui-bg-invert, $margin: 0, $padding: $padding-attributes-summary);
}

.summary {
  @include flexbox(row, space-around, center);
  padding: $padding-attributes-summary;
  gap: $gap;
}

.summary__item {
  @include flexbox(column, center, center);
}

.item__label {
  font-family: $font-family-header;
  font-size: 1.1rem;
  color: $clr-text-primary;
}

.item__value {
  cursor: help;
  font-size: 1.1rem;
  font-weight: bold;
  color: $clr-highlight;
}
