@use "sass:color";
@use "index" as *;

.container {
  display: grid;
  grid:
    "gear-upgrade gear-actions"
    / auto 1fr;

  gap: $gap;
}

.gear-upgrade {
  grid-area: gear-upgrade;

  width: 220px;
}

.gear-upgrade,
.gear-actions {
  height: 50px;
}

.gear-actions {
  grid-area: gear-actions;

  @include flexbox($dir: row, $justify: flex-end);
  gap: $gap;
}

.button-upgrade {
  @include flexbox($dir: row);
  @include button-focus-visible-outline();

  background: none;
  border: 2px solid $clr-border;
  border-radius: $border-radius;

  color: $clr-highlight;

  gap: $gap;
  padding: calc($gap / 2);
  width: 100%;
}
