<div class="container">
  <div class="header">
    <h1>{{ title().toUpperCase() }}</h1>
    <separator class="ih-separator"></separator>
  </div>

  <div class="content">
    <div class="intro">
      <h2 class="intro-text">Welcome to {{ title() }}!</h2>
      <h2 class="intro-text">
        Prepare yourself for an epic adventure filled with exciting battles and rich treasures.
      </h2>
      <h2 class="intro-text">
        Choose your character and starting weapon, and enter your name to embark on your journey!
      </h2>
    </div>
    <div class="character">
      <!-- ICON SELECTION -->
      <div class="character-selection">
        <div class="character-icon">
          <app-icon [character]="CharacterIcon()" size="4x"></app-icon>
        </div>
        <div class="character-selection-actions">
          <button class="ih-button-icon ih-button-icon-border left" (click)="PreviousCharacter()">
            <app-icon ui="arrow" size="sm"></app-icon>
          </button>
          <span> {{ CurrentCharacterIndex() + 1 }} / {{ TotalCharacters }} </span>
          <button class="ih-button-icon ih-button-icon-border right" (click)="NextCharacter()">
            <app-icon ui="arrow" size="sm"></app-icon>
          </button>
        </div>
      </div>
      <!-- WEAPON SELECTION -->
      <div class="weapon-selection">
        <div class="weapon-preview">
          <app-item-variant-preview
            [Variant]="WeaponVariant()"
            [Selected]="false"></app-item-variant-preview>
        </div>
        <div class="weapon-selection-actions">
          <button class="ih-button-icon ih-button-icon-border left" (click)="PreviousWeapon()">
            <app-icon ui="arrow" size="sm"></app-icon>
          </button>
          <span> {{ CurrentWeaponIndex() + 1 }} / {{ TotalWeapons }} </span>
          <button class="ih-button-icon ih-button-icon-border right" (click)="NextWeapon()">
            <app-icon ui="arrow" size="sm"></app-icon>
          </button>
        </div>
      </div>
      <!-- NAME INPUT -->
      <div class="name-input">
        <input
          id="heroname"
          name="heroname"
          #heroname="ngModel"
          [(ngModel)]="heroName"
          type="text"
          placeholder="Enter your name"
          required
          minlength="3"
          maxlength="12"
          pattern="[a-zA-Z]+" />
        @if (heroname.invalid && (heroname.dirty || heroname.touched)) {
          <h3 class="input-hint">
            @if (heroname.hasError("required")) {
              <div>Name is required</div>
            }
            @if (heroname.hasError("minlength")) {
              <div>Name must be at least 3 characters long</div>
            }
            @if (heroname.hasError("pattern")) {
              <div>Name must contain only letters</div>
            }
          </h3>
        }
      </div>
    </div>

    <separator class="ih-separator"></separator>

    <div class="actions">
      <button class="ih-button" (click)="StartGame()" [disabled]="heroname.invalid">
        START ADVENTURE
      </button>
    </div>
  </div>
</div>
