@use "sass:color";
@use "index" as *;

$margin: 20px;

.container {
  @include flexbox($dir: column);
  @include panel();
  @include panel-shadow();

  height: calc(100vh - 2 * $margin);
  width: calc(100% - 2 * $margin);

  margin: $margin;

  .header {
    // margin-bottom: $margin;
    text-align: center;
  }
}

.content {
  @include flexbox($dir: column);
  gap: calc($gap / 2);
}

.intro {
  display: grid;
  gap: $gap;

  .intro-text {
    text-align: center;

    @media (max-width: $bp-md) {
      font-size: 1rem;
    }
  }
}

.character {
  @include flexbox($dir: row);
  gap: calc($gap);

  @media (max-width: $bp-md) {
    flex-direction: column;
    font-size: 1rem;
  }

  .character-selection {
    @include flexbox($dir: column);
    gap: calc($gap);

    .character-icon {
      @include flexbox($dir: column);

      height: 12em;
      width: 10em;

      border: 3px solid $clr-border;
      border-radius: $border-radius;
    }

    .character-selection-actions {
      @include flexbox($dir: row);
      gap: $gap;
    }
  }

  .weapon-selection {
    @include flexbox($dir: column);
    gap: calc($gap);

    .weapon-preview {
    }

    .weapon-selection-actions {
      @include flexbox($dir: row);
      gap: $gap;
    }
  }

  .name-input {
    @include flexbox($dir: column);
    width: 350px;
    gap: calc($gap / 2);

    input {
      padding: calc($gap / 2);

      line-height: 2rem;
      font-size: 1.5rem;

      background: $clr-ui-bg;
      border: 2px solid $clr-border;
      border-radius: $border-radius;
    }

    .input-hint {
      color: $clr-accent;
      font-size: 1rem;
    }
  }
}

.actions {
  // margin-bottom: $gap;
}

.left {
  rotate: 90deg;
}

.right {
  rotate: -90deg;
}
