<div class="container">
  <!-- Stage -->
  <div class="stage">
    <app-stage-label [stageNumber]="showStage ? stageService.Current() : null"></app-stage-label>
  </div>

  <!-- Boss Health Bar -->
  <div class="boss-health">
    @if (showBoss) {
      <app-health-bar
        [currentHealth]="bossService.CurrentHealth()"
        [maxHealth]="bossService.MaxHealth()"
        [showHealthValues]="true">
      </app-health-bar>
    }
  </div>

  <!-- Boss -->
  <div class="boss">
    @if (showBoss) {
      <app-icon class="icon" [creatures]="BossIcon" size="5x"></app-icon>
    }
  </div>

  <!-- Buffs -->
  <div class="buffs">
    @if (showBuffBar) {
      <app-buffs-bar></app-buffs-bar>
    }
  </div>

  <!-- Battle Log -->
  <div class="battle-log">
    <app-battle-log></app-battle-log>
  </div>

  <!-- Player -->
  <div class="player">
    @if (showHero) {
      <app-icon class="icon" [character]="HeroIcon" size="4x"></app-icon>
    }
  </div>

  <!-- Experience Bar -->
  <div class="experience-bar">
    @if (showExpBar) {
      <app-experience-bar
        [currentLevel]="levelService.Current()"
        [currentExp]="levelService.Experience()"
        [expToNextLevel]="levelService.ExperienceToNextLevel()"></app-experience-bar>
    }
  </div>
</div>
