@use "sass:color";
@use "index" as *;

.container {
  display: inline-flex;
  gap: $gap;
  width: 100%;

  @media (max-width: $bp-sm) {
    flex-direction: column;
  }
}

.separator {
  align-content: center;

  &.visible-in-portrait {
    @media (min-width: $bp-sm) {
      display: none;
    }
  }

  &.visible-in-landscape {
    @media (max-width: $bp-sm) {
      display: none;
    }
  }
}

.info-value {
  @include flexbox();
  gap: $gap;

  background-color: $clr-ui-bg;

  min-width: 100px;
  min-height: 45px;

  border: 2px solid $clr-border;
  border-radius: calc($border-radius * 2);
  padding: calc($gap / 4) $gap;

  &.gold {
    min-width: 150px;
  }

  &.dungeon-key {
    min-width: 60px;
  }
}

.dungeon-stage-list {
  @include flexbox($align: center);
  flex-wrap: wrap;
  gap: calc($gap / 2);
}

.dungeon-stage {
  @include flexbox($align: center);
  gap: calc($gap / 3);

  .dungeon-completed {
    color: $clr-accent;
  }
}
