@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
  display: grid;

  grid:
    "header character inventory" auto
    "game character inventory" 1fr
    / 1fr 1fr 1fr;

  gap: $gap;
  padding: $gap;
}

@media (max-width: $bp-lg) {
  .container {
    grid:
      "header" auto
      "game" 1fr
      "character" auto
      "inventory" auto
      / 1fr;
  }
}

.header,
.game-area,
.character-area,
.inventory-area {
  @include panel();
  @include panel-shadow();
}

.header {
  grid-area: header;

  // Center Text
  display: flex;
  justify-content: center;
}

.game-area {
  grid-area: game;
}

.character-area {
  grid-area: character;
}

.inventory-area {
  grid-area: inventory;
}

.opacity {
  opacity: 0.4;
}
