@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
  @include dim();

  height: 100vh;
  display: grid;

  grid:
    "header info" auto
    "character content" 1fr
    / 650px 1fr;

  gap: $gap;
  padding: $gap;
}

@media (max-width: $bp-lg) {
  .container {
    grid:
      "header" auto
      "info" auto
      "character" 1fr
      "content" 1fr
      / 1fr;
  }
}

.header,
.info,
.character-area,
.content {
  @include panel();
  @include panel-shadow();
}

.header {
  grid-area: header;
  display: flex;
}

.title {
  width: 100%;
  text-align: center;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: $gap;

  .switch-area {
    align-content: center;
    justify-content: center;

    .button-town {
      color: $clr-highlight;

      &:hover {
        color: color.adjust($clr-highlight, $lightness: 10%);
      }
    }

    .button-dungeon {
      color: $clr-accent;

      &:hover {
        color: color.adjust($clr-accent, $lightness: 10%);
      }
    }
  }

  .statistics-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.character-area {
  grid-area: character;
}

.content {
  grid-area: content;
}
