@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
  @include dim();

  height: 100vh;
  display: grid;

  grid:
    "header info info" auto
    "game character sidecontent" 1fr
    / 1fr 650px 1fr;

  gap: $gap;
  padding: $gap;
}

@media (max-width: $bp-lg) {
  .container {
    grid:
      "header" auto
      "info" auto
      "game" 1fr
      "character" auto
      "sidecontent" auto
      / 1fr;
  }
}

.header,
.info,
.game-area,
.character-area,
.sidecontent {
  @include panel();
  @include panel-shadow();
}

.header {
  grid-area: header;
  display: flex;
}

.title {
  width: 100%;
  text-align: center;
}

.info {
  grid-area: info;
}

.game-area {
  grid-area: game;
}

.character-area {
  grid-area: character;
}

.sidecontent {
  grid-area: sidecontent;

  display: grid;
  grid-template-rows: auto auto 1fr;
}
