@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
  @include dim();

  height: 100vh;
  display: grid;

  grid:
    "header info" auto
    "character content" 1fr
    / 650px 1fr;

  gap: $gap;
  padding: $gap;
}

@media (max-width: $bp-lg) {
  .container {
    grid:
      "header" auto
      "info" auto
      "content" 1fr
      "character" 1fr
      / 1fr;
  }
}

.header,
.info,
.character-area,
.content {
  @include panel();
  @include panel-shadow();
}

.header,
.info {
  padding: calc($gap / 1.5) $gap;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: $gap;
  align-items: center;

  .switch-area {
    display: flex;
    justify-content: center;
    width: 120px;

    border: 2px solid $clr-border;
    border-radius: 1000px;
    padding: 2px $gap;

    background-color: $clr-ui-bg;

    .switch-button {
      &:hover {
        transform: none;
        transition: none;
      }

      &.button-town {
        color: $clr-highlight;

        &:hover {
          color: color.adjust($clr-highlight, $lightness: 20%);
        }
      }

      &.button-dungeon {
        color: $clr-accent;

        &:hover {
          color: color.adjust($clr-accent, $lightness: 10%);
        }
      }
    }
  }

  .statistics-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.character-area {
  grid-area: character;
}

.content {
  grid-area: content;
}
