@use "sass:color";
@use "variables" as *;

/* ========== Colors ========== */
$clr-bg: #b8c2cc;
$clr-ui-bg: #181f2b;
$clr-ui-bg-invert: #e5e5e5;

$clr-border: #e5e5e5;
$clr-box-shadow: rgba(2, 2, 6, 0.6);

/* ========== Font Colors ========== */
$clr-text-primary: #e5e5e5;
$clr-text-invert: #221a0f;
$clr-text-logo-primary: #9a0000;

$clr-text-shadow: rgba(0, 0, 0, 50%);
$clr-text-shadow-inverted: rgba(255, 255, 255, 50%);

/* ========== Accent Colors ========== */
$clr-accent: #9a0000;
$clr-highlight: #d4af37;

/* ========== Additional Colors ========== */
$clr-black: #0f0f0f;
$clr-gray: #7a7a7a;
$clr-mute: #888888;

/* ========= Game Colors ========== */
$clr-hp-red: #e53e3e;
$clr-mp-blue: #3b82f6;
$clr-exp-green: #4caf50;
$clr-exp-blue: #2196f3;
$clr-charge-yellow: #fbbf24;
$clr-bleed: #8a0303;

$clr-gold: $clr-highlight;

$clr-common: #a0a0a0;
$clr-magic: #3b82f6;
$clr-rare: #eee000;
$clr-epic: #8b5cf6;
$clr-legendary: #ff8800;

$clr-stage-label: color.scale($clr-highlight, $lightness: 30%);
$clr-log-info: color.scale($clr-exp-green, $lightness: 20%);
$clr-log-rewards-gold: color.scale($clr-highlight, $lightness: 20%);
$clr-log-rewards-xp: $clr-exp-blue;
$clr-log-other: $clr-common;
$clr-log-damage: #ddd;
$clr-log-bleed: #ee4444;
$clr-log-charged: $clr-charge-yellow;
$clr-log-crit: $clr-rare;
$clr-log-multi: $clr-epic;
$clr-log-crit-multi: $clr-legendary;
$clr-log-boss-defeat: color.scale($clr-accent, $lightness: 40%);
$clr-log-level-up: #00aaff;
$clr-log-dungeon-cleared: #00aaff;
$clr-log-heal: #22c55e;
$clr-log-miss: $clr-mute;

$clr-buff-button: #ddd;

/* ========== Gradients ========== */
$grad-ui-bg: linear-gradient(
  $gradient-top-left,
  $clr-ui-bg 0%,
  color.scale($clr-ui-bg, $lightness: 5%) 100%
);

$grad-ui-bg-lighten: linear-gradient(
  $gradient-top-left,
  $clr-ui-bg 0%,
  color.scale($clr-ui-bg, $lightness: 30%) 100%
);

$grad-ui-bg-lighten-revert: linear-gradient(
  $gradient-bottom-right,
  $clr-ui-bg 0%,
  color.scale($clr-ui-bg, $lightness: 30%) 100%
);

$grad-ui-bg-invert: linear-gradient(
  $gradient-bottom,
  color.scale($clr-ui-bg-invert, $lightness: -20%) 0%,
  color.scale($clr-ui-bg-invert, $lightness: -50%) 100%
);

$grad-accent-lighten: linear-gradient(
  $gradient-right,
  $clr-accent 0%,
  color.scale($clr-accent, $lightness: 20%) 100%
);

$grad-accent-darken: linear-gradient(
  $gradient-left,
  $clr-accent 0%,
  color.scale($clr-accent, $lightness: -40%) 100%
);

$grad-exp-bar: linear-gradient(90deg, $clr-exp-green 0%, $clr-exp-blue 100%);
$grad-health-bar: linear-gradient(
  90deg,
  $clr-hp-red 0%,
  color.scale($clr-hp-red, $lightness: -30%) 100%
);

$grad-charge-bar: linear-gradient(
  90deg,
  $clr-charge-yellow 0%,
  color.scale($clr-charge-yellow, $lightness: -30%) 100%
);
