@use "colors" as *;

// Border Colors
.common--border {
  border-color: $clr-common;
}

.magic--border {
  border-color: $clr-magic;
}

.rare--border {
  border-color: $clr-rare;
}

.epic--border {
  border-color: $clr-epic;
}

.legendary--border {
  border-color: $clr-legendary;
}

// Font Colors
.common--font {
  // color: $clr-common;
  color: $clr-text-primary;
}

.magic--font {
  color: $clr-magic;
}

.rare--font {
  color: $clr-rare;
}

.epic--font {
  color: $clr-epic;
}

.legendary--font {
  color: $clr-legendary;
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
