/* ========== Gradient Directions ========== */
$gradient-top: 0deg;
$gradient-right: 90deg;
$gradient-bottom: 180deg;
$gradient-left: 270deg;
$gradient-top-right: 45deg;
$gradient-bottom-right: 135deg;
$gradient-bottom-left: 225deg;
$gradient-top-left: 315deg;

/* ========== Variables ========== */
$border-radius: 8px;
$gap: 12px;

/* ========== Responsive Breakpoints ========== */
$bp-sm: 640px;
$bp-md: 960px;
$bp-lg: 1280px;
$bp-xl: 1920px;

$bp-lg-height: 720px;
$bp-xl-height: 1080px;

/* ========== Sizes ========== */
$size-character-stats-height: 64vh;
$size-character-stats-height-responsive: 55vh;
$size-inventory-width: 500px;
$size-inventory-grid-height: 65vh;
$size-inventory-grid-height-responsive: 56vh;
$size-skills-height: 82vh;
$size-crafting-variants-height: 68vh;
$size-combat-log-height: 78vh;
$size-combat-log-height-xl: 44vh;
$size-runes-list-height-responsive: 69vh;
$size-runes-list-width-responsive: 500px;

/* ========== Fonts ========== */
$font-family-title: "Cinzel Decorative", serif;
$font-family-header: "MedievalSharp", cursive;

/* ========== Font Sizes ========== */
$font-size-button-default: 1.2rem;
$font-size-sidebar-nav-button: 1.2rem;
$font-size-info-header: 2rem;
$font-size-stats-header: 1.5rem;
$font-size-stats-toolbar-button: 1.1rem;
$font-size-inventory-tab: 1.2rem;
$font-size-main-action-button: 1.5rem;

/* ========== Key Frames ========== */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
