<div class="container">
  <app-panel-header title="INVENTORY"></app-panel-header>

  <!-- INVENTORY -->
  <div class="content">
    <div class="inventory-items">
      <div class="subheader">
        <h3>ITEMS</h3>
        <app-gold [amount]="inventoryService.Gold()" size="md"></app-gold>
      </div>

      <!-- GEAR -->
      <div class="gear-area">
        <div class="gear-slots">
          <app-gear-slots
            (gearSlotSelected)="onGearSlotSelected($event.event, $event.slot)"></app-gear-slots>
        </div>

        <!-- ACTIONS -->
        <div class="gear-actions">
          @if (CanBuy) {
            <app-gold [amount]="ItemPrice" size="md"></app-gold>
            <button class="ih-button" (click)="buyItem($event)" [disabled]="!EnoughGoldToBuy">
              Buy
            </button>
          }
          @if (CanSell) {
            <app-gold [amount]="SellValue" size="md"></app-gold>
            <button class="ih-button" (click)="sellItem($event)">Sell</button>
          }
          @if (CanEnchant) {
            <button class="ih-button" (click)="enchantItem($event)">Enchant</button>
          }
        </div>
      </div>
    </div>

    <separator></separator>

    <!-- ENCHANTING -->
    @if (Enchanting) {
      <div class="enchanting-area">
        <div class="subheader">
          <h3>ENCHANTING AREA</h3>
        </div>
        <app-enchanting [item]="EnchantingItem"></app-enchanting>
      </div>
    }
  </div>
</div>
