<div class="container">
  <app-panel-header title="INVENTORY"></app-panel-header>

  <!-- INVENTORY -->
  <div class="content">
    <div class="inventory-items">
      <div class="subheader">
        <h3>ITEMS</h3>
        <app-gold [amount]="GoldAmount" size="md"></app-gold>
      </div>

      <!-- GEAR -->
      <div class="gear-area">
        <div class="gear-slots">
          <app-gear-slots
            (GearSlotSelected)="OnGearSlotSelected($event.event, $event.slot)"></app-gear-slots>
        </div>

        <!-- ACTIONS -->
        <div class="gear-actions">
          @if (CanBuy) {
            <app-gold [amount]="ItemPrice" size="md"></app-gold>
            <button class="ih-button" (click)="BuyItem($event)" [disabled]="!EnoughGoldToBuy">
              Buy
            </button>
          }
          @if (CanSell) {
            <app-gold [amount]="SellValue" size="md"></app-gold>
            <button class="ih-button" (click)="SellItem($event)">Sell</button>
          }
        </div>
      </div>
    </div>

    <separator></separator>

    <!-- ENCHANTING -->
    <div class="enchanting-area">
      @if (CanEnchant) {
        <div class="subheader">
          <h3>ENCHANTING</h3>
          <h3>{{ SelectedGear!.Type.toUpperCase() }}</h3>
          <button
            class="ih-button-icon button-cancel"
            (click)="selectedGearService.DeselectGear()"
            title="Clear Selection">
            <app-icon ui="cancel" size="md"></app-icon>
          </button>
        </div>
        @if (SelectedGear) {
          <app-enchanting [Item]="SelectedGear"></app-enchanting>
          <separator></separator>
        }
      }
    </div>
  </div>
</div>
