@use "sass:color";
@use "index" as *;

.container {
}

.content {
}

.inventory-items {
  // height: 485px;
}

.subheader {
  grid-area: header;
  @include flexbox($justify: space-between);
  margin-bottom: $gap;
}

.gear-area {
  display: grid;

  grid:
    "_ gear-slots gear-actions"
    / 1fr 1fr 1fr;

  gap: $gap;
}

.gear-slots {
  grid-area: gear-slots;

  width: 340px;

  // Centered horizontally
  margin: 0 auto;
}

.gear-actions {
  grid-area: gear-actions;

  @include flexbox($dir: column, $align: flex-end, $justify: flex-end);
  gap: $gap;
}

.enchanting-area {
  display: grid;
  grid:
    "header header"
    "item-display item-slots"
    "separator separator"
    / auto 1fr;
}

.item-preview-area {
  display: grid;
  grid:
    "header"
    "item-display"
    "separator"
    / 1fr;

  > .item-display {
    // Centered horizontally
    margin: 0 auto;
  }
}

.item-display {
  grid-area: item-display;
}

.item-slots {
  grid-area: item-slots;
}

.button-cancel {
  color: $clr-text-primary;
}

.separator {
  grid-area: separator;
}
