<div class="container">
  <app-panel-header title="INVENTORY"></app-panel-header>

  <!-- INVENTORY -->
  <div class="content">
    <div class="inventory-items">
      <div class="subheader">
        <h3>ITEMS</h3>
        <app-gold [amount]="GoldAmount" size="md"></app-gold>
      </div>

      <!-- GEAR -->
      <div class="gear-area">
        <div class="gear-slots">
          <app-gear-slots
            (GearSlotSelected)="OnGearSlotSelected($event.event, $event.slot)"></app-gear-slots>
        </div>

        <!-- ACTIONS -->
        <div class="gear-actions">
          @if (CanBuy) {
            <app-gold [amount]="ItemPrice" size="md"></app-gold>
            <button class="ih-button" (click)="BuyItem($event)" [disabled]="!EnoughGoldToBuy">
              Buy
            </button>
          }
          @if (CanSell) {
            <app-gold [amount]="SellValue" size="md"></app-gold>
            <button class="ih-button" (click)="SellItem($event)">Sell</button>
          }
        </div>
      </div>
    </div>

    <separator></separator>

    <!-- ITEM DISPLAY & ENCHANTING -->
    <div
      [class.item-preview-area]="GearPreview && !SelectedGear"
      [class.enchanting-area]="SelectedGear && CanEnchant">
      @if (SelectedGear || GearPreview) {
        <div class="subheader">
          <h3>ITEM</h3>
          <h3>{{ SelectedGear?.Type?.toUpperCase() ?? GearPreview?.Type?.toUpperCase() }}</h3>
          <button
            class="ih-button-icon button-cancel"
            (click)="DeselectGear($event)"
            title="Clear Selection">
            <app-icon ui="cancel" size="md"></app-icon>
          </button>
        </div>
        <!-- ITEM DISPLAY -->
        <app-item-display class="item-display" [Item]="SelectedGear ?? GearPreview!">
        </app-item-display>
        <!-- ENCHANTMENT SLOTS -->
        @if (SelectedGear && CanEnchant) {
          <app-enchanting class="item-slots" [Item]="SelectedGear"></app-enchanting>
        }
        <separator class="ih-separator separator"></separator>
      }
    </div>
  </div>
</div>
