@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
}

.subheader {
  @include flexbox($justify: space-between);
}

.gear-area {
  @include relative-container();
  display: grid;

  grid:
    "_ gear-slots gear-actions"
    / 1fr 1fr 1fr;

  gap: $gap;
}

.gear-slots {
  grid-area: gear-slots;

  width: 340px;

  // Centered horizontally
  margin: 0 auto;
}

.gear-actions {
  grid-area: gear-actions;

  @include flexbox($dir: column, $align: flex-end, $justify: flex-end);
  gap: $gap;
}

.enchanting-area {
  @include relative-container();
}
