@use "sass:color";
@use "index" as *;

.container {
  @include overflow($display: flex, $max-height: 100%);
  @include scrollbar($size: 0px);

  // Automatically scroll to bottom
  flex-direction: column-reverse;

  // Left-hand side scrollbars
  direction: rtl;
}

.border {
  @include panel($bg: $grad-ui-bg, $padding: 0);
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);
}

.content {
  direction: ltr;
}

.message-container {
  @include disable-text-selection();
  @include flexbox($justify: stretch, $align: stretch);

  text-align: center;
}

.separator,
.message-container {
  margin: calc($gap / 2) 0;
}

.icon {
  white-space: nowrap;
  align-self: center;
  justify-self: center;

  min-width: 4rem;
  font-size: 1.5rem;
  // line-height: 1.5rem;
}

.message-area {
  width: 100%;
  height: 100%;
  align-self: center;
}

.separator,
.message,
.submessage {
  align-self: center;
  font-size: 1rem;
}

.info,
.crit,
.multi,
.crit-multi,
.boss-defeat,
.level-up,
.dungeon-cleared {
  font-weight: bold;
  text-shadow:
    -1px -1px 0 $clr-text-shadow,
    1px -1px 0 $clr-text-shadow,
    -1px 1px 0 $clr-text-shadow,
    1px 1px 0 $clr-text-shadow;
}

.info {
  // color: #44dd44;
  color: $clr-log-info;
  font-size: 1.4rem;
}

.other {
  // color: #eeeeee;
  color: $clr-log-other;
  font-weight: bold;
}

.damage {
  // color: #ee4444;
  color: $clr-log-damage;
  font-weight: bold;
}

.crit {
  color: $clr-log-crit;
  font-size: 1.1rem;
}

.multi {
  // color: #dd22dd;
  color: $clr-log-multi;
  font-size: 1.1rem;
}

.crit-multi {
  color: $clr-log-crit-multi;
  // color: $clr-legendary;
  font-size: 1.1rem;
}

.boss-defeat {
  // color: #ff4444;
  color: $clr-log-boss-defeat;
  font-size: 1.4rem;
}

.level-up {
  color: $clr-log-level-up;
  font-size: 1.4rem;
}

.dungeon-cleared {
  color: $clr-log-dungeon-cleared;
  font-size: 1.4rem;
}
