<div #battleLogContainer class="container" [class.border]="Messages.length > 0">
  <div class="content">
    @for (entry of Messages; track entry) {
      @if (GetMessageClass(entry.Type) == "separator") {
        <!-- <p class="separator">{{ entry.Message }}</p> -->
        <hr class="separator" />
      } @else {
        <div class="message-container">
          <div class="icon">{{ GetMessageIcon(entry.Type) }}</div>
          <div class="message-area">
            <p
              class="message"
              [class.info]="GetMessageClass(entry.Type) == 'info'"
              [class.other]="GetMessageClass(entry.Type) == 'other'"
              [class.damage]="GetMessageClass(entry.Type) == 'damage'"
              [class.crit]="GetMessageClass(entry.Type) == 'crit'"
              [class.multi]="GetMessageClass(entry.Type) == 'multi'"
              [class.crit-multi]="GetMessageClass(entry.Type) == 'crit-multi'"
              [class.boss-defeat]="GetMessageClass(entry.Type) == 'boss-defeat'"
              [class.level-up]="GetMessageClass(entry.Type) == 'level-up'">
              {{ entry.Message }}
            </p>
            <p
              class="submessage"
              [class.crit]="GetMessageClass(entry.Type) == 'crit'"
              [class.multi]="GetMessageClass(entry.Type) == 'multi'"
              [class.crit-multi]="GetMessageClass(entry.Type) == 'crit-multi'">
              {{ entry.Submessage }}
            </p>
          </div>
        </div>
      }
    }
  </div>
</div>
