@use "sass:color";
@use "index" as *;

.inventory {
  display: grid;

  grid:
    "loadout selected-item item-list" 1fr
    / auto 1fr $size-inventory-width;

  gap: $gap;
}

.subheader {
  text-align: center;
  margin-bottom: $gap;
}

.gear-loadout {
  grid-area: loadout;
  // width: 340px;
}

.inventory-items {
  grid-area: item-list;
}

.selected-item {
  grid-area: selected-item;
  @include flexbox($dir: column, $align: center, $justify: center);
}

.item-display {
  @include flexbox($dir: column, $align: center, $justify: center);
  @include panel($bg: $clr-ui-bg);
  @include box-shadow();

  cursor: pointer;

  border-width: 3px;
  border-style: solid;

  height: 320px;
  width: 220px;

  display: flex;
}

.item__icon {
  flex: 1;
}

.item__name {
}

.item__name--small {
  font-size: 1em;
  line-height: 21px;
}
