@use "sass:color";
@use "index" as *;

.list-item {
  cursor: pointer;
  @include disable-text-selection();
  @include flexbox($dir: row, $justify: flex-start, $align: center);

  gap: $gap;
  padding: calc($gap / 3);
  border-radius: $border-radius;

  &:hover {
    background: $grad-ui-bg-lighten;
  }

  &.selected {
    outline: 1px solid $clr-border;
    background: $grad-ui-bg-lighten;
  }

  .info {
    @include flexbox($dir: column, $justify: center, $align: flex-start);
    gap: calc($gap / 6);
  }

  .name {
    font-weight: 600;
  }

  .meta {
    color: $clr-mute;
    font-size: 0.8rem;
  }
}
