<div class="list-item" [class.selected]="selected()" (click)="SelectItem()">
  <app-icon class="gear-slot__icon" [gear]="Variant().Icon" size="md"></app-icon>
  <div class="info">
    <div
      class="name"
      [class.common--font]="Rarity() === 'Common'"
      [class.magic--font]="Rarity() === 'Magic'"
      [class.rare--font]="Rarity() === 'Rare'"
      [class.epic--font]="Rarity() === 'Epic'"
      [class.legendary--font]="Rarity() === 'Legendary'">
      {{ Variant().Name.toUpperCase() }}
    </div>
    <div class="meta">
      <span class="tier">{{ Variant().Tier }}</span>
      <span>•</span>
      <span>{{ Rarity() }} {{ Variant().Type }}</span>
      <span
        [class.common--font]="Rarity() === 'Common'"
        [class.magic--font]="Rarity() === 'Magic'"
        [class.rare--font]="Rarity() === 'Rare'"
        [class.epic--font]="Rarity() === 'Epic'"
        [class.legendary--font]="Rarity() === 'Legendary'">
        [{{ item().Level }}]
      </span>
    </div>
  </div>
  <div class="actions">
    <ng-content></ng-content>
  </div>
</div>
