<div class="container">
  <div class="gear-upgrade">
    @if (CanUpgrade) {
      <button
        class="button-upgrade"
        title="Upgrade Item"
        (click)="UpgradeItem()"
        [disabled]="!EnoughGoldToUpgrade">
        <app-icon symbol="growth" size="sm"></app-icon>
        <app-gold [amount]="UpgradeCost" size="sm"></app-gold>
      </button>
    }
  </div>

  <div class="gear-actions">
    @if (CanBuy) {
      <app-gold [amount]="ItemPrice" size="md"></app-gold>
      <button class="ih-button" (click)="BuyItem()" [disabled]="!EnoughGoldToBuy">Buy</button>
    }
    @if (CanSell) {
      <app-gold [amount]="SellValue" size="md"></app-gold>
      <button class="ih-button" (click)="SellItem()">Sell</button>
    }
  </div>
</div>
