@use "sass:color";
@use "index" as *;

.container {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 0.5rem;

  font-family: $font-family-header;
  color: $clr-text-primary;
}

.value {
  min-width: 1.75rem;
  text-align: right;
  padding-bottom: 0.25rem;

  color: $clr-highlight;
}

.label,
.value {
  font-size: 1.25rem;
  font-weight: bold;
}
