@use "sass:color";
@use "index" as *;

.top-bar {
  @include panel();
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);
  @include flexbox($justify: flex-start);

  gap: $gap;
  min-height: 86px;
}

.room {
  @include flexbox($dir: column, $align: flex-start);
  gap: calc($gap / 2);
}

.room-info {
  @include disable-text-selection();
  @include flexbox($align: center, $justify: flex-start);
  color: $clr-stage-label;
  font-weight: 800;
}

.room-label,
.room-value {
  font-family: $font-family-header;
}

.room-label {
  width: 130px;
  text-align: center;
}

.room-value {
  width: 40px;
  text-align: center;
}

.boss-health {
  flex: 1 1 auto;
}
