@use "sass:color";
@use "index" as *;

.flyout {
  position: relative;

  &.open .flyout-content {
    display: block;
  }

  .flyout-content {
    @include panel();
    @include panel-shadow($border-width: 2px, $border-color: $clr-border);
    @include box-shadow();
    z-index: 1;
    right: 0;

    margin-top: $gap;

    display: none;
    position: absolute;

    .header {
      text-align: center;
      color: $clr-highlight;
    }

    .grid {
      @include disable-text-selection();

      .row {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: $gap 0;
        padding: 2px 0;

        &:hover {
          cursor: pointer;
          background: $grad-ui-bg-lighten-revert;
          border-radius: $border-radius;
        }
      }

      .grid__label {
        text-align: left;
        font-weight: bold;
        width: 250px;
      }

      .grid__value {
        @include flexbox($align: top, $justify: flex-end);
        text-align: center;
        width: 150px;
      }

      .grid__label,
      .grid__value {
        font-size: 1.05rem;
        color: $clr-text-primary;
      }
    }
  }

  .reset {
    @include flexbox();

    .reset-button {
      @include flexbox();
      gap: $gap;
      width: 125px;
    }
  }
}
