@use "sass:color";
@use "index" as *;

.container {
  @include relative-container();
  display: grid;

  grid:
    "header header header" auto
    "game character inventory" 1fr
    / 1fr 1fr 1fr;

  gap: $gap;
  padding: $gap;
}

.header,
.game-area,
.character-area,
.inventory-area {
  @include panel();
  @include panel-shadow();
}

.header {
  grid-area: header;

  // Center Text
  display: flex;
  justify-content: center;
}

.game-area {
  grid-area: game;
}

.character-area {
  grid-area: character;
}

.inventory-area {
  grid-area: inventory;
}
