@use "sass:color";
@use "index" as *;

.gear-slots {
  display: grid;

  grid:
    "weapon head offhand"
    "weapon chest offhand"
    "weapon legs offhand"
    "weapon boots offhand"
    / auto auto auto;

  gap: $gap;
  align-items: end;
}

.gear-slot {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include flexbox($dir: column, $align: center, $justify: center);
  @include panel($bg: $clr-ui-bg);
  @include box-shadow();

  height: 110px;
  width: 110px;

  display: flex;
}

.gear-slot-large {
  height: calc(220px + $gap);
}

.gear-slot__icon {
  flex: 1;
}

.weapon {
  grid-area: weapon;
}
.offhand {
  grid-area: offhand;
}
.head {
  grid-area: head;
}
.chest {
  grid-area: chest;
}
.legs {
  grid-area: legs;
}
.boots {
  grid-area: boots;
}

.empty {
  border: 2px solid $clr-gray;
  opacity: 0.5;
}

.equipped {
  border-width: 3px;
}

.selected {
  // border: 3px solid $clr-border;
  border-width: 4px;
  background: $grad-ui-bg-lighten;
}
