@use "sass:color";
@use "index" as *;

.area_with_inventory {
  display: grid;
  grid-template-columns: 1fr $size-inventory-width;
  gap: $gap;
}

@media (max-width: $bp-xl) {
  .area_with_inventory {
    grid-template-columns: 1fr;
  }
}

.empty {
  @include panel($bg: rgba(0, 0, 0, 0.2));
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);
  @include flexbox($dir: column, $justify: center, $align: center);
  gap: calc($gap / 2);

  text-align: center;

  .headline {
    font-family: $font-family-header;
    color: $clr-text-primary;
    font-size: 1.2rem;
  }

  .hint {
    font-family: $font-family-header;
    color: $clr-mute;
    font-size: 1.1rem;
    font-style: italic;
  }
}
