@use "sass:color";
@use "index" as *;

.container {
  @include flexbox(column, center, stretch);
  gap: $gap;
}

.category {
  border-radius: $border-radius;
  box-shadow: 0 2px 8px $clr-box-shadow;
  background: $grad-accent-darken;
  padding: 0 0.5rem;
}

$grid-header-padding: 0.5rem 0.5rem;

.grid-header {
  @include disable-text-selection();
  @include flexbox($dir: row, $align: center, $justify: space-between);
  @include divider($margin: 0, $padding: $grid-header-padding);

  padding: $grid-header-padding;
}

.grid {
  @include disable-text-selection();
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.25rem 0.5rem;
}

.grid__label {
  text-align: left;
  font-weight: bold;
}

.grid__value {
  @include flexbox($align: top, $justify: flex-end);
  text-align: center;
}

.grid__label,
.grid__value {
  font-size: 1.2em;
  color: $clr-text-primary;
  padding: $gap 0;
}

.skill-points {
  font-family: $font-family-header;
  font-size: 1.4rem;
  font-weight: bold;
  color: $clr-highlight;

  text-shadow:
    -1px -1px 0 $clr-text-shadow,
    1px -1px 0 $clr-text-shadow,
    -1px 1px 0 $clr-text-shadow,
    1px 1px 0 $clr-text-shadow;
}

.skill-points__icon {
  vertical-align: top;
  margin: 0 0.25rem;
}

.attribute-value {
  width: 5rem;
}

.attribute-modifier-button {
  @include button-style($bg-color: $clr-ui-bg);
  @include button-text-font();
  @include button-sizing($min-width: 0, $padding: 0);
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg, $lightness: -30%),
    $bg-color-active: color.scale($clr-ui-bg, $lightness: -50%)
  );
  @include button-focus-visible-outline();

  height: 2rem;
  width: 2rem;
}
