@use "sass:color";
@use "index" as *;

.room-selection-root {
  @include flexbox($dir: column, $align: stretch);
  gap: $gap;
}

.description {
  @include flexbox($dir: column);
  margin: 0 auto;
  margin-bottom: $gap;

  text-align: center;
}

.room-selection {
  @include flexbox($dir: row);
  gap: $gap;
}

.left {
  rotate: 90deg;
}

.right {
  rotate: -90deg;
}

.card {
  @include panel();
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);
  @include flexbox($dir: column, $align: stretch, $justify: flex-start);
  gap: $gap;
  padding: $gap;

  // min-height: 408px;
  width: 350px;
}

.card.locked {
  opacity: 0.7;
}

.room-header {
  @include flexbox($align: center, $justify: flex-start);
  gap: $gap;
  @include divider($margin: 0, $padding: 0 0 $gap 0);
}

.title {
  @include disable-text-selection();
  color: $clr-text-primary;
}

.room-body {
  @include flexbox($dir: column, $align: stretch, $justify: flex-start);
  gap: calc($gap / 2);
}

.stat {
  @include flexbox($justify: space-between, $align: center);
  font-size: 1.2rem;
  font-weight: 700;
}

.label {
  color: $clr-highlight;
  font-family: $font-family-header;
}

.value {
  color: $clr-text-primary;
}

.prereqs,
.rewards {
  @include panel($bg: $grad-ui-bg, $padding: 0.5rem);
  border: 1px solid $clr-border;
  border-left: 6px solid $clr-border;

  color: $clr-text-primary;

  min-height: 72px;
}

.prereqs.warn {
  border: 1px solid $clr-accent;
  border-left: 6px solid $clr-accent;
}

.prereq,
.reward {
  @include flexbox($dir: row, $align: center, $justify: space-between);
}

.prereq-header,
.reward-header {
  font-family: $font-family-header;
  font-size: 1.2rem;
  text-decoration: underline;
}

.reward-placeholder {
  @include flexbox($align: center, $justify: center);
  font-size: 1.2rem;
}

.actions {
  @include flexbox();
}
