@use "sass:color";
@use "index" as *;

.tier {
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: calc($gap / 2);

  &.locked {
    border-color: $clr-mute;
  }

  &.unlocked {
    border-color: $clr-border;
  }

  &.maxed {
    border-color: $clr-highlight;
  }
}

.tier-header {
  @include flexbox(row, space-between, center);
  gap: $gap;

  min-height: 45px;
  margin-bottom: calc($gap / 2);

  > h3 {
    margin-left: $gap;
    color: $clr-highlight;

    .tier-number {
      font-family: $font-family-title;
      color: $clr-accent;
      text-shadow:
        -1px -1px 0 $clr-text-shadow,
        1px -1px 0 $clr-text-shadow,
        -1px 1px 0 $clr-text-shadow,
        1px 1px 0 $clr-text-shadow;
    }
  }
}

.requirements {
  display: flex;
  gap: $gap;
}

.tier-actions {
  margin-right: 10px;

  .badge {
    @include disable-text-selection();

    background: $clr-highlight;
    color: $clr-black;

    border-radius: $border-radius;
    padding: calc($gap / 4) $gap;

    font-family: $font-family-header;
    font-weight: 600;
  }
}
