<div
  class="tier"
  [class.unlocked]="isUnlocked()"
  [class.locked]="!isUnlocked()"
  [class.maxed]="isMaxed">
  <div class="tier-header">
    <h3>
      SKILL TIER
      <span class="tier-number">{{ tier().Tier }}</span>
    </h3>
    @if (!isUnlocked()) {
      <div class="requirements">
        <app-level
          fontSize="1.1rem"
          size="sm"
          [level]="tier().RequiredLevel"
          title="Required Level"></app-level>
        <app-gold
          fontSize="1.1rem"
          size="sm"
          [amount]="tier().UnlockGoldCost"
          title="Required Gold"></app-gold>
      </div>
    }
    <div class="tier-actions">
      @if (!isUnlocked()) {
        <button
          class="ih-button-icon ih-button-icon-border"
          [disabled]="!canUnlock()"
          title="Unlock Tier"
          (click)="unlockTier.emit(tier())">
          <app-icon symbol="padlockopen" size="sm"></app-icon>
        </button>
      } @else {
        <span class="badge">UNLOCKED</span>
      }
    </div>
  </div>

  <ng-content></ng-content>
</div>
