@use "sass:color";
@use "index" as *;

.stage-icon {
  @include disable-text-selection();
  position: absolute;
  font-size: 5rem;
  opacity: 0.8;
}

.stage-label {
  @include disable-text-selection();
  position: relative;
  width: 3.6rem;
  top: 2.5rem;
  left: 1.5rem;

  font-family: $font-family-title;
  font-size: 1.3rem;
  font-weight: 800;
  color: $clr-highlight;
  text-align: center;

  text-shadow:
    0 0 5px color.adjust($clr-black, $alpha: -0.5),
    0 0 10px color.adjust($clr-black, $alpha: -0.5),
    0 0 15px color.adjust($clr-black, $alpha: -0.5);
}
