@use "sass:color";
@use "index" as *;

.experience-labels {
  @include disable-text-selection();
  @include flexbox(row, space-between, center);

  color: $clr-text-primary;
  font-size: 1.2rem;
  font-weight: 600;

  margin: 0 0.7rem 0.2rem 0.7rem;
}

.experience-bar-bg {
  @include panel-shadow();
  background: $clr-bg;
  height: 20px;

  border-radius: $border-radius;
  border-color: $clr-black;
}

.experience-bar-fill {
  height: 100%;
  background: $grad-exp-bar;
  border-radius: $border-radius;
  transition: width 0.8s cubic-bezier(0.4, 0.8, 0.6, 1);

  &.no-transition {
    transition: none !important;
  }
}
