@use "sass:color";
@use "index" as *;

.item {
  @include button-text-font();
  @include button-focus-visible-outline();
  @include panel($bg: $clr-ui-bg);
  @include panel-shadow($border-color: unset);
  @include box-shadow();

  display: grid;
  grid:
    "info icon" auto
    "innate innate" auto
    "affix affix" auto
    "actions actions" auto
    / 250px 100px;

  gap: $gap;

  border-width: 2px;
  border-style: solid;
}

.item-icon {
  grid-area: icon;
  justify-self: end;
}

.item-info {
  grid-area: info;
  @include flexbox($dir: column, $justify: center, $align: center);

  .item-name {
    font-size: 1.1rem;
    font-family: $font-family-header;
    font-weight: bold;
    color: $clr-highlight;
  }

  .item-type {
    font-size: 0.95rem;
    color: $clr-mute;
    font-weight: normal;
  }
}

.item-weapon-stats {
  @include flexbox($dir: row, $justify: center, $align: flex-start);
  align-self: flex-start;

  .separator {
    font-size: 1.2rem;
    margin: 0 calc($gap / 2);
  }

  .weapon-stat {
    display: grid;
    grid-template-columns: auto auto;
    gap: calc($gap / 2);
    align-items: baseline;

    .value {
      font-size: 1.2rem;
      font-weight: bold;
      color: $clr-highlight;
    }

    .label {
      font-size: 0.8rem;
      font-weight: normal;
      color: $clr-text-primary;
    }
  }
}

.item-innate {
  grid-area: innate;
  display: flex;
  align-items: center;

  .icon {
    margin-right: calc($gap / 2);
  }

  .label {
    font-size: 0.9rem;
    font-style: italic;
    color: $clr-mute;
  }
}

.item-affixes {
  grid-area: affix;
  display: flex;
  flex-direction: column;
  gap: calc($gap / 2);

  .item-affix {
    display: flex;

    .icon {
      margin-right: calc($gap / 2);
    }

    .label {
      font-size: 0.95rem;
      color: $clr-text-primary;
    }

    .min-max-roll {
      font-size: 0.8rem;
      color: $clr-mute;
    }
  }
}

.actions {
  grid-area: actions;
}
