@use "sass:color";
@use "index" as *;

.item,
.variant {
  @include disable-text-selection();
  @include button-text-font();
  @include button-focus-visible-outline();
  @include panel($bg: $clr-ui-bg);
  @include panel-shadow($border-color: unset);
  @include box-shadow();

  display: grid;
  gap: $gap;

  border-width: 2px;
  border-style: solid;

  min-height: 152px;
  height: 100%;
}

.variant {
  grid:
    "info icon" 95px
    "innate innate" auto
    / 190px 100px;

  &.active {
    // border-width: 4px;
    background: $grad-ui-bg-lighten;
  }
}

.item {
  grid:
    "info icon" 95px
    "innate innate" auto
    "affix affix" auto
    "actions actions" auto
    / 250px 100px;
}

.item-icon {
  grid-area: icon;
  justify-self: end;
}

.item-info {
  grid-area: info;
  @include flexbox($dir: column, $justify: flex-start, $align: center);

  .item-name {
    font-size: 1.1rem;
    font-family: $font-family-header;
    font-weight: bold;
    color: $clr-highlight;
  }

  .item-type-info {
    display: inline-flex;
    gap: calc($gap / 2);
  }

  .item-tier {
    font-weight: bold;
    font-family: $font-family-title;
    color: color.scale($clr-accent, $lightness: 15%);
  }

  .item-type {
    font-size: 0.95rem;
    color: $clr-mute;
    font-weight: normal;
  }

  .item-level {
    font-size: 0.95rem;
    font-weight: normal;
  }
}

.item-weapon-stats {
  @include flexbox($dir: row, $justify: center, $align: flex-start);
  align-self: flex-start;

  .separator {
    font-size: 1.2rem;
    margin: 0 calc($gap / 2);
  }

  .weapon-stat {
    display: grid;
    grid-template-columns: auto auto;
    gap: calc($gap / 2);
    align-items: baseline;

    .value {
      font-size: 1.2rem;
      font-weight: bold;
      color: $clr-highlight;
    }

    .label {
      font-size: 0.8rem;
      font-weight: normal;
      color: $clr-text-primary;
    }
  }
}

.item-innate {
  grid-area: innate;
  display: flex;
  align-items: flex-start;

  .icon {
    margin-right: calc($gap / 2);
  }

  .label {
    font-size: 0.9rem;
    font-style: italic;
    color: $clr-mute;
  }
}

.item-affixes {
  grid-area: affix;
  display: flex;
  flex-direction: column;
  gap: calc($gap / 2);

  .item-affix {
    display: flex;

    .icon {
      margin-right: calc($gap / 2);
    }

    .label {
      font-size: 0.95rem;
      color: $clr-text-primary;
    }

    .min-max-roll {
      font-size: 0.8rem;
      color: $clr-mute;
    }
  }
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
