@use "sass:color";
@use "index" as *;

/* Header */
.header {
  @include disable-text-selection();
  @include flexbox(row, space-between, center);

  .header__name {
    color: $clr-highlight;
    font-family: $font-family-title;
    font-size: $font-size-info-header;
  }

  .header__level {
    display: flex;
    align-items: baseline;
    gap: $gap;

    .level_title {
      color: $clr-text-primary;
      font-family: $font-family-header;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .level_value {
      // width: 35px;
    }
  }
}

/* Summary */
$padding-attributes-summary: $gap 0;

.summary {
  @include flexbox(column, space-around, center);

  .summary__item {
    @include flexbox(row, space-between, center);
    width: 100%;

    .item__label {
      font-family: $font-family-header;
      color: $clr-text-primary;
    }

    .item__value {
      color: $clr-highlight;
    }

    .item__label,
    .item__value {
      @include disable-text-selection();
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
