@use "sass:color";
@use "index" as *;

/* Header */
.header {
  display: grid;
  grid:
    "name level" auto
    "prestige stage" auto
    / 1fr auto;

  @include disable-text-selection();
  margin-bottom: $gap;
}

.header__name,
.header__level {
  @include divider($clr-ui-bg-invert, $margin: 0 0 0.5rem 0, $padding: 0);
  margin-bottom: 40px;
}

.header__name {
  grid-area: name;

  color: $clr-highlight;
  font-family: $font-family-title;
  font-size: $font-size-info-header;
}

.header__level {
  grid-area: level;
  align-content: center;
  justify-items: end;
}

.header__prestige {
  grid-area: prestige;
}

.header__stage {
  grid-area: stage;
}

.header__prestige,
.header__stage {
  margin-bottom: $gap;
}

/* Summary */
$padding-attributes-summary: $gap 0;

.summary {
  @include divider($clr-ui-bg-invert, $margin: 0, $padding: $padding-attributes-summary);
}

.summary {
  @include flexbox(row, space-around, center);
  padding: $padding-attributes-summary;
  gap: $gap;
}

.summary__item {
  @include flexbox(column, center, center);
}

.item__label {
  font-family: $font-family-header;
  color: $clr-text-primary;
}

.item__value {
  color: $clr-highlight;
}

.item__label,
.item__value {
  @include disable-text-selection();
  font-size: 1.3rem;
  font-weight: bold;
}
