@use "sass:color";
@use "index" as *;

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr auto;

  @include disable-text-selection();
  // margin-bottom: $gap;
}

.header__name,
.header__level {
  @include divider($clr-ui-bg-invert, $margin: 0 0 0.5rem 0, $padding: 0);
  margin-bottom: 40px;
}

.header__name {
  color: $clr-highlight;
  font-family: $font-family-title;
  font-size: $font-size-info-header;
}

.header__level {
  display: inline-flex;
  align-items: center;

  .level-icon {
    color: $clr-highlight;
    margin: 0 0 calc($gap / 4) calc($gap / 2);
  }
}

/* Summary */
$padding-attributes-summary: $gap 0;

.summary {
  @include divider($clr-ui-bg-invert, $margin: 0, $padding: $padding-attributes-summary);
  @include flexbox(row, space-around, center);

  padding: $padding-attributes-summary;
  gap: $gap;

  .summary__item {
    @include flexbox(column, center, center);

    .item__label {
      font-family: $font-family-header;
      color: $clr-text-primary;
    }

    .item__value {
      color: $clr-highlight;
    }

    .item__label,
    .item__value {
      @include disable-text-selection();
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
