@use "index" as *;

// Bootstrap Icons
@use "bootstrap-icons";

* {
  font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Improve font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Reset default margin & padding */
  margin: 0;
  padding: 0;

  /* Enable dark mode */
  color-scheme: dark;
}

html,
body {
  /* Set full height and width */
  height: 100%;
  width: 100%;

  background: $clr-bg;
  color: $clr-text-primary;
}

*,
*::before,
*::after {
  /* Include box sizing for all elements */
  box-sizing: border-box;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  @include disable-text-selection();
}

h2 {
  font-family: "MedievalSharp", cursive;
  @include disable-text-selection();
}

button {
  @include disable-text-selection();

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.ih-button {
  @include button-style();
  @include button-text-font();
  @include button-sizing();
  @include button-hover-active();
  @include button-focus-visible-outline();
}
