@use "index" as *;
@use "sass:color";

* {
  font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Improve font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Reset default margin & padding */
  margin: 0;
  padding: 0;

  /* Enable dark mode */
  color-scheme: dark;
}

html,
body {
  /* Set full height and width */
  // height: 100%;
  // width: 100%;

  background: $clr-bg;
  color: $clr-text-primary;

  @include scrollbar();
}

*,
*::before,
*::after {
  /* Include box sizing for all elements */
  box-sizing: border-box;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  @include disable-text-selection();
  color: $clr-highlight;
  text-shadow:
    -1px -1px 0 $clr-text-shadow,
    1px -1px 0 $clr-text-shadow,
    -1px 1px 0 $clr-text-shadow,
    1px 1px 0 $clr-text-shadow;
}

h2 {
  font-family: "MedievalSharp", cursive;
  @include disable-text-selection();
}

h3 {
  font-family: "MedievalSharp", cursive;
  @include disable-text-selection();
}

h4 {
  font-family: "MedievalSharp", cursive;
  @include disable-text-selection();
}

button {
  @include disable-text-selection();
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  &:hover {
    transform: scale(1.025);
    transition: transform 0.2s;
  }
}

.ih-button {
  @include button-style();
  @include button-text-font();
  @include button-sizing();
  @include button-hover-active();
  @include button-focus-visible-outline();
}

.ih-button-secondary {
  @include button-style(
    $bg-color: color.scale($clr-ui-bg-invert, $lightness: -20%),
    $color: $clr-text-invert
  );
  @include button-text-font($shadow: false);
  @include button-sizing();
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg-invert, $lightness: -40%),
    $bg-color-active: color.scale($clr-ui-bg-invert, $lightness: -60%)
  );
  @include button-focus-visible-outline();
}

.ih-button-tertiary {
  @include button-text-font($shadow: false);
  @include button-sizing($font-size: 0.9rem, $min-width: auto);
  @include button-focus-visible-outline();
  @include button-style(
    $bg-color: color.scale($clr-ui-bg-invert, $lightness: -20%),
    $color: $clr-text-invert,
    $border: 1px solid $clr-border
  );
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg-invert, $lightness: -40%),
    $bg-color-active: color.scale($clr-ui-bg-invert, $lightness: -60%)
  );
}

.ih-button-quaternary {
  @include button-text-font($shadow: false);
  @include button-sizing($font-size: 0.9rem, $min-width: auto);
  @include button-focus-visible-outline();
  @include button-style(
    $bg-color: color.scale($clr-ui-bg, $lightness: -20%),
    $color: $clr-text-primary,
    $border: 2px solid $clr-border
  );
  @include button-hover-active(
    $bg-color: color.scale($clr-ui-bg, $lightness: 20%),
    $bg-color-active: color.scale($clr-ui-bg, $lightness: 30%)
  );

  border-radius: calc($border-radius * 2);
}

.ih-button-icon {
  @include button-focus-visible-outline();

  background: none;
  border: none;
  border-radius: 50%;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

.ih-button-icon-border {
  border: 3px solid $clr-border;
  border-radius: 50%;
  padding: calc($gap / 2);
}

.ih-separator {
  width: 100%;
}
