<div class="slots">
  @for (enchantment of enchantments; track $index) {
    <div
      class="slot"
      [style.width]="size"
      [style.height]="size"
      [class.unenchanted]="!enchantment.IsEnchanted"
      [class.common--border]="enchantment.Level === 1"
      [class.magic--border]="enchantment.Level === 2"
      [class.rare--border]="enchantment.Level === 3"
      [class.epic--border]="enchantment.Level === 4"
      [class.legendary--border]="enchantment.Level === 5"></div>
  }
</div>
