@use "sass:color";
@use "index" as *;

.gold-display {
  @include disable-text-selection();
  display: flex;
  gap: calc($gap / 2);
  color: $clr-gold;

  .gold-amount {
    display: grid;
    grid-auto-flow: column;

    /* Prevent wrapping */
    white-space: nowrap;

    span {
      width: 13px;
      font-family: $font-family-title;
      text-align: center;
      align-self: center;

      &.thousands-separator {
        width: 7px;
      }

      &.million-suffix {
        font-size: 0.8em;
        margin-right: calc($gap / 3);
      }
    }
  }

  .gold-icon {
    display: flex;
    align-self: center;
  }
}
