<div class="gold-display" [style.fontSize]="fontSize()">
  <!-- <div class="gold-amount">{{ amount() | number }}</div> -->
  <div class="gold-amount">
    @for (character of displayAmount(); track $index) {
      @if (character === "," || character === "." || character === " ") {
        <span class="thousands-separator">{{ character }}</span>
      } @else if (character === "M") {
        <span class="million-suffix">{{ character }}</span>
      } @else {
        <span>{{ character }}</span>
      }
    }
  </div>
  <div class="gold-icon">
    <app-icon symbol="twocoins" [size]="size()"></app-icon>
  </div>
</div>
