@use "sass:color";
@use "index" as *;

.container {
  height: 100%;
  width: 100%;

  @include flexbox($dir: row, $align: center, $justify: flex-start);
  // flex-direction: column-reverse;
  gap: $gap;
}

.buff-button {
  min-height: 60px;

  @include button-style($bg-color: $clr-buff-button, $border-radius: 50%);
  @include button-sizing($font-size: 2rem, $min-width: 60px, $padding: 0);
  @include button-hover-active(
    $bg-color: color.scale($clr-buff-button, $lightness: -20%),
    $bg-color-active: color.scale($clr-buff-button, $lightness: -40%)
  );
  @include button-focus-visible-outline();

  justify-items: center;
  align-items: center;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

.active {
  border: 4px solid $clr-highlight;
}

.on-cooldown {
  border: 4px solid $clr-gray;
}

.buff-icon {
  font-size: 2rem;
}

.buff-duration,
.buff-cooldown {
  font-family: $font-family-title;
  font-weight: bold;
  font-size: 2rem;
}

.buff-duration {
  color: $clr-highlight;
}

.buff-cooldown {
  color: $clr-text-invert;
}
