@use "sass:color";
@use "index" as *;

.panel {
  @include panel();
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);
  @include flexbox($dir: column, $align: stretch);
  gap: $gap;
}

.panel-header {
  @include flexbox($justify: space-between, $align: center);
  border-bottom: 1px solid $clr-border;
  padding: calc($gap / 2);
}

.actions {
  @include flexbox($align: center);
  gap: calc($gap / 2);
}

.action {
  font-size: 1.1rem;
  min-height: 35px;
  min-width: 80px;
}

.panel-body {
  display: grid;
  grid:
    "slots tiers" auto
    "slots variants" 1fr
    / auto 1fr;

  gap: $gap;
}

.slots {
  grid-area: slots;
  display: grid;
  justify-content: start;
  align-content: start;
  gap: $gap;
}

$slot-size: 80px;

.slot {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include flexbox($dir: column, $justify: center, $align: center);
  @include panel($bg: $clr-ui-bg);
  @include box-shadow();
  gap: calc($gap / 2);

  height: $slot-size;
  width: $slot-size;

  font-weight: normal;
}

.slot.active,
.tier.active {
  // border-width: 4px;
  background: $grad-ui-bg-lighten;
}

.tiers {
  grid-area: tiers;
  // @include flexbox($dir: row, $justify: space-around, $align: center);
  @include flexbox($dir: row, $justify: flex-start, $align: center);
  gap: $gap;
  height: 44px;
}

.tier {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include flexbox($dir: column, $justify: center, $align: center);
  @include panel($bg: $clr-ui-bg);
  @include box-shadow();

  min-width: 80px;

  font-family: $font-family-header;
}

.variants {
  grid-area: variants;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $gap;

  @include overflow($display: grid, $max-height: 68vh);
  @include scrollbar($size: 0.8rem);

  padding: $gap;
}
